<div>
    <div>
        <!-- with products -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" *ngFor="let product of wishlistarray">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" [src]="product.image" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.title}}</h5>
                                    <!-- Product price-->
                                    {{product.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-evenly">
                                <div>
                                    <button (click)="addToCartfromWishlist(product)" class="btn btn-success"><i
                                            class="fa-solid fa-cart-plus"></i></button>
                                </div>
                                <div>
                                    <button (click)="deleteWishlistProduct(product.id)" class="btn btn-danger"><i
                                            class="fa-solid fa-trash"> </i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div *ngIf="wishlistarray.length == 0">
        <!-- without products -->
        <div class="card text-center m-5 shadow">
            <div class="d-flex">
                <div class="bg-image hover-overlay m-2 " data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://cdn.dribbble.com/users/1514097/screenshots/3550111/wishlist-icon.gif"
                        class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div style="padding-top: 150px;padding-left:80px;justify-content: start;">
                    <h5>Nothing Here...</h5>
                    <p>Add from the products</p>
                </div>
            </div>
            <div class="card-body text-cente m-2">
                <a href="/" class="btn btn-dark" data-mdb-ripple-init>Browse More</a>
            </div>
        </div>
    </div>
</div>